{layout name="layout/main" /}
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <h3 class="page-title">Home</h3>
        <div class="panel panel-headline">
            <div class="panel-body">
                <p class="text-info"><code>.框架</code> ThinkPHP 5.0.21</p>
                <p class="text-primary"><code>.主要贡献人员</code> Jason</p>
            </div>
        </div>
        <!-- END OVERVIEW -->
    </div>
</div>
<!-- END MAIN CONTENT -->
